# common
.DS_Store
# node dependencies
node_modules
npm-debug.log

# build file
build

# test folder
source/test/e2e/screenshots/*
!client/source/test/e2e/screenshots/.gitkeep
source/test/unit/results/
