@import '../_common/styles/common'

.login-form-view
    .login-checking
        display flex
        flex-direction column
        justify-content center
        align-items center
        z-index 10
        background rgba(0, 0, 0, .6)
        text-align center
        position absolute
        width 100%
        height 100%
        .loading-text
            animation pulse .8s linear infinite
            font-size 20px
            margin 0
    .card
        margin 0
    .card-title
        border-bottom 1px solid rgba(0, 0, 0, .2)
    .login-message
        &.error
            background-color $errorColor
        &.success
            background-color $successColor
        p
            font-size 18px
            margin-top 0
