body
    font-family Helvetica, arial
    .wrapper
        display flex
        flex-direction column
        min-height 100vh
        background url('/static/images/layout/bg.jpg')
.content
    margin-top $headerHeight
    +sm()
        margin-top $headerHeightForMobile
    display flex
    flex 1
    .main-content
        flex 1
        display flex
        flex-direction column
        .main-view
            flex 1
            display flex
            justify-content center
            align-items center
            +sm()
                margin-left 8px
                margin-right 8px
            &.ng-enter
                animation flipInX .8s
