body
    font-family Helvetica, arial
    .wrapper
        display flex
        flex-direction column
        min-height 100vh
.content
    margin-top 64px
    display flex
    flex 1
    .main-content
        flex 1
        display flex
        flex-direction column
        .main-view
            flex 1
            display flex
            justify-content center
            align-items center
            &.ng-enter
                animation flipInX .8s
