.footer-view
    .footer
        hr
            border none
            margin-top -1px
            height 1px
            background-color #c0c8c9
            background-image -webkit-linear-gradient(0deg, #fff, #c0c8c9, #fff)
