.loading-view
    .ngplus-overlay-background
        position absolute
        height 100%
        width 100%
        top 0
        left 0
        z-index 10000
        background-color #808080
        opacity 0.8

    .ngplus-overlay-content
        position absolute
        width $loadingImageWidth
        height $loadingImageHeight
        top 50% !important
        left 50% !important
        margin-left -(@width / 2)
        margin-top -(@height / 2)
        z-index 10000

    .loading-image
        width $loadingImageWidth
        height $loadingImageHeight
        background-image url('/static/images/layout/loading.gif')
        background-position center
