.footer
    .toolbar.bgc-blue-grey-500
        p.copyright.tc-white.text-center
            | Copyright &copy; {{::vm.year}}.
            | Powered by &nbsp;
            a.tc-white(href="https://github.com/PinkyJie/generator-aio-angular", target="_blank") AIO-Angular
            | &nbsp; generator.
