.footer.text-center.p(class="mt++")
    hr(class="mb+")
    p
        | Copyright &copy; 2015.
        | Made by &nbsp;
        a(href="https://github.com/PinkyJie/generator-aio-angular", target="_blank") AIO-Angular
        | &nbsp; generator.
