// // responsive utility

// // screen size from bootstrap
// sizes = 768 992 1200

// // pass idx of array sizes
// generate-media(start, end)
//     if end
//         @media screen and (min-width: start) and (max-width: end)
//             {block}
//     else
//         @media screen and (min-width: start)
//             {block}


// // phone: 0 ~ 768px
// xs = generate-media(0, sizes[0])

// // tablet 768px ~ 992px
// s = generate-media(sizes[0], sizes[1])

// // desktop 992px ~ 1200px
// l = generate-media(sizes[1], sizes[2])

// // desktop 1200px ~
// xl = generate-media(sizes[2])
