.login-view
    .card__header
        border-bottom 1px solid rgba(0, 0, 0, .2)
    .login-message
        padding 8px
        &.error
            background-color $errorColor
        &.success
            background-color $successColor
