@import '../_common/styles/common'

.modal-view
    .modal
        .modal-footer
            a
                &:first-child
                    margin-right 16px
                &:last-child
                    margin-right 24px
