- require('./home-hero.styl')
.home-hero-view
    .card-panel.blue.darken-3.center-align.p3
        h4.title.white-text Aio Angular App
        h5.subtitle.grey-text.text-lighten-1
            | Awesome web app built on AngularJS &amp; Material Design.
        a.btn-get-started.btn.btn-large.green.waves-effect.waves-light.mt2(ui-sref="root.layout.login") Get Started
