.home-view
    .card.bgc-light-blue-200.text-center(class="p+++")
        img.logo(src="/static/images/layout/logo.png")
        h2.title AIO Angular App
        h3.subtitle
            | Awesome web app built on AngularJS &amp; Material Design.
        a.btn.btn--green.btn--l.btn--raised(class="mt+", ui-sref="root.login", lx-ripple="white") Get Started
