.breadcrumb-view
    .breadcrumb
        margin 0
        list-style none
        li
            display inline-block
            .nav-text
                font-size 1.3rem
                display inline-block
                float right
                line-height 45px
            a
                margin-top -16px
        .breadcrumb-item
            margin-left -5px
