- require('./breadcrumb.styl')
ol.breadcrumb.p1
    li.home-item
        a.btn-floating.white.waves-effect.waves-light(ui-sref="root.layout.home")
            i.mdi-action-home.black-text
    li.breadcrumb-item(ng-repeat="nav in vm.breadcrumbs")
        i.mdi-navigation-chevron-right.small.white-text
        a.btn.white.black-text.waves-effect.waves-light(ng-if="!$last", ui-sref="{{nav.link}}")
            | {{nav.text}}
        span.white-text.nav-text(ng-if="$last") {{nav.text}}
