@import '../_common/styles/common'

.sidebar-menu-fab
    position fixed
    opactiy 0.7
    bottom 15px
    right 15px
    z-index 999

.sidebar-backdrop
    +sm()
        position absolute
        top 0
        z-index 990
        background-color rgba(0, 0, 0, 0.5)
        height 100%
        width 100%
