@import '../../components/_common/styles/common'

.home-hero-view
    .card-panel
        .title
            font-weight 300
            padding-top 150px
            background url("../../components/_layout/logo.png") top center no-repeat
        .subtitle
            font-weight 300
