@import '../_common/styles/common'

.header-view
    position fixed
    width 100%
    z-index 999
    .nav-wrapper
        +sm()
            padding-left 0
            padding-right 0
        .logo
            width 44px
            height 44px
            margin ($headerHeight/2 - @height/2) 10px
        .brand-logo
            font-size 1.8rem
