.phone-main-view.full-width
    a.btn-add-new.btn.btn-large.green.waves-effect.waves-light(ui-sref="root.layout.phone.add")
        i.mdi-content-add-box.left
        | Add New
    aio-phone-table(
        phones="vm.phones",
        //- pass controller context into directive
        first-button-click="vm.gotoPhoneDetail(vm, phone)",
        second-button-click="vm.deletePhone(vm, phone)"
    )
