.login-view
    .login-checking.tc-white(ng-if="vm.needCheckLogin")
        i.icon.icon--xl.icon--flat.mdi(ng-class="{'mdi-sync icon-rotate-animation': !vm.userInfo, 'mdi-account': vm.userInfo}")
        p.loading-text {{vm.userInfo ? vm.userInfo.name : 'Checking Login User...'}}
    form.card(name="vm.loginForm", ng-submit="vm.login(vm.credential)", novalidate)
        .card__header(class="p+")
            | Please sign in with your Email and Password
        .login-message(class="{{vm.loginError.type}}", ng-if="vm.loginError")
            p.tc-white {{vm.loginError.text}}
        .card__body(class="p++")
            lx-text-field(label="Email", fixed-label="true", icon="email")
                input(type="email", ng-model="vm.credential.email", required, aio-focus-me="true")
            lx-text-field(label="Password", fixed-label="true", icon="key")
                input(type="password", ng-model="vm.credential.password", required)
        .card__actions.text-center(class="p+")
            button.btn.btn--l.btn--blue.btn--raised.btn-login(type="submit",
                ng-disabled="vm.loginForm.$invalid || vm.isRequest",
                ng-class="{'btn--is-disabled': vm.loginForm.$invalid}",
                lx-ripple,
                aio-loading-button="vm.isRequest",
            ) Sign In
