- require('./footer.styl')
nav.blue-grey
    .nav-wrapper
        p.copyright.center-align
            | Copyright &copy; {{::vm.year}}.&nbsp;
            a.white-text(href="https://github.com/PinkyJie/generator-aio-angular", target="_blank") AIO-Angular
            | &nbsp; generator.
