- require('./footer.styl')
nav.blue-grey
    .nav-wrapper
        p.copyright.center-align
            a.white-text(href="https://github.com/PinkyJie/angular1-webpack-starter", target="_blank") Angular1 Webpack Starter
            |&nbsp;&copy; {{::vm.year}}
