.phone-main-view
    .data-table
        .heading
            th
                font-weight bold
                +sm()
                    text-align center
        .phone-item
            &.ng-enter
                animation slideInRight .8s
            &.ng-leave
                animation slideOutRight .8s
