.phone-detail-view
    .card
        .card-header
            border-bottom 1px solid rgba(0, 0, 0, 0.12)
            .title
                display inline-block
            button
                float right
                margin-top -5px

