.phone-detail-view
    .card
        .card-header
            border-bottom 1px solid rgba(0, 0, 0, 0.12)
            h3
                display inline-block
            .switch
                display inline-block
                float right

