.form
    display flex
    flex-flow row wrap
    +sm()
        flex-direction column
    .form-group
        flex 1
        margin 16px
        .form-item
            padding 8px
            border-bottom 1px dashed rgba(0, 0, 0, 0.12)
            .form-label
                display flex
                span
                    flex 1
                .form-value
                    +sm()
                        text-align right
            .form-field
                display none
    .actions
        display none
        border-top 1px solid rgba(0, 0, 0, 0.12)
        flex 1 100%
        text-align center
        +sm()
            flex 1
        button
            width 100px
            &.btn-cancel
                margin-right 50px
            +sm()
               display block
               &.btn-cancel
                   margin auto
               &.btn-save
                   margin 10px auto 0

    .form-group + .form-group
        +sm()
            margin-top 0

    &.editing
        .form-group > .form-item
            border-bottom none
            .form-label
                display none
            .form-field
                display block
        .actions
            display block

